* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

nav {
    padding: 0% 1% 0% 4.5%;
    height: 70px;
    width: 100%;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: space-around;
    background-color: #fdfdff;
}

.logo img {
    width: 190px;
}

.nav-ul {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.nav-ul-last-child {
    color: #6851ff;
}

.nav-ul-last-child:hover {
    color: #4d3bdb;
}

.nav-ul li {
    list-style: none;
    cursor: pointer;
    font-weight: 500;
}

.day-night-mode {
    margin-left: 30px;
    background-color: #aab4be;
    height: 18px;
    width: 45px;
    border-radius: 20px;
}

.day-night-mode i {
    position: relative;
    top: -5px;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    background-color: #001e3c;
    color: white;
    border-radius: 20px;
}

/* main Section starts */

.main-div {
    background-color: #f6f5ff;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0px 30px 0px;
}

/* main first heading  */

.main-div h1 {
    display: flex;
    justify-content: center;
    font-size: 80px;
    text-align: center;
    background: linear-gradient(106.43deg, #522fd4, #6bdcff 95.12%);
    color: transparent;
    /* this Css property i don't learn this but for emplement gradient on text so i search about that so i found that */
    -webkit-background-clip: text;
    background-clip: text;
}

/* main buttons Hire and Apply */

.buttons-hire-apply {
    display: flex;
    border: 1px solid black;
    padding: 5px;
    gap: 5px;
    border-radius: 110px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(104, 81, 255, 0.2);
    margin-top: 20px;
    transition: all 0.3s 0.1s;
}

.buttons-hire-apply:hover {
    box-shadow: rgba(104, 81, 255, 0.1) 0px 8px 32px;
    transform: translateY(-3px);
}

.hire-btn {
    color: #5d6d7e;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 150px;
    border-radius: 30px;
}

.hire-btn:hover {
    transform: scale(1.2);
    transition: all 0.3s 0.1s;
}

.apply-btn {
    color: rgba(255, 255, 255, 0.9);
    background: linear-gradient(135deg, rgb(0, 168, 204), rgb(0, 151, 230));
    box-shadow: rgba(0, 168, 204, 0.4) 0px 8px 25px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    border-radius: 30px;
}

.main-div p {
    margin-top: 25px;
    font-weight: 450;
    font-size: 20px;
    text-align: center;
    color: black;
}

.main-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #f6f5ff;
    /* gap:30px; */
}

.main-div input {
    margin-top: 30px;
    width: 550px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid;
    background-color: #f6f5ff;
    border-color: rgba(0, 0, 0, 0.23);

}

.main-div input:hover {
    border: 1px solid black
}

.main-div img {
    position: relative;
    bottom: 30px;
    left: 250px;
}

.find-job-btn {
    margin: 10px 0px 30px 0px;
    height: 50px;
    width: 140px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background: linear-gradient(135deg, rgb(104, 81, 255), rgb(90, 69, 232));
    box-shadow: rgba(104, 81, 255, 0.3) 0px 8px 25px;
    border-radius: 30px;
    transition: 0.3s;
    border: transparent;
}

.find-job-btn:hover {
    transform: translateY(-3px);
}

.main-div h2 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(rgb(77, 59, 219) 0%, rgb(151, 71, 255) 100%) text;
    font-size: 34px;
    margin-bottom: 20px;
}

li {
    list-style: none;
}

.main-div ul {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}

.main-div>ul>li {
    color: #6851ff;
    padding: 5px 10px;
    border: 1px solid #aea3ff;
    border-radius: 5px;
    font-size: 12.5px;
    font-weight: 800;
}

.main-div>ul>li:hover {
    background-color: #e3e0f5;
}

/* main Second Div starts */

.main-second-div {
    padding-bottom: 40px;
    width: 100%;
    background-color: #f0eeff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-second-div h1 {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(106.43deg, rgb(82, 47, 212), rgb(107, 220, 255) 95.12%) text;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}

/* ai chatbox starts */

.ai-chattingbox {
    padding: 10px 15px;
    position: relative;
    height: 430px;
    width: 1000px;
    background-color: #f0eeff;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.75rem;
}

.ai-chattingbox>p>i {
    background-color: #522fd4;
    color: white;
    height: 20px;
    padding-top: 2px;
    width: 20px;
    margin-right: 10px;
}

.ai-chattingbox>p {
    font-weight: 600;
    margin-bottom: 30px;
}

.ai-hello-caht {
    width: 65%;
    margin-left: 10px;
    background-color: #e9d5ff;
    padding: 25px 20px;
    border-radius: 10px;
}

.ai-chattingbox>ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;
    top: 160px;
}

.ai-chattingbox>ul>li {
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 13px;
    border-color: rgba(0, 0, 0, 0.23);
}

.ai-chattingbox>ul>li:hover {
    background-color: #e3e0f5;
}

.search {
    /* border:5px solid red; */
    display: flex;
    justify-content: space-between;
    gap: 10px;
    justify-items: flex-end;
    position: relative;
    top: 190px;
}

.search input {
    width: 100%;
    flex-grow: 2;
    padding: 5px 15px;
    font-size: 16px;
    background-color: #f0eeff;
    border: 1px solid rgba(0, 0, 0, 0.23);
}

.search input:hover {
    border: 1px solid black;
}

.ai-send-btn {
    width: 40px;
    background-color: #6851ff;
    color: white;
    border: none;
    border-radius: 5px;
}

.main-image {
    width: 100%;
    height: 300px;
    background-image: url("./Accets/main-section-png-image.png");
    background-size: cover;
}

/* main section third starts */

.main-section-third {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-section-third h2 {
    font-size: 45px;
    padding: 20px 0px;
}

.main-section-third>h2>span {
    color: #6851ff;
}

/* job - relative box */

.latest-jobs {
    display: flex;
    justify-content: space-around;
    gap: 60px;
}

.jobs-box {
    height: 250px;
    width: 330px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    position: relative;
    padding: 20px;
    box-shadow: 0 6px 12px #0000001a;
    transition: all 0.3s;
}

.jobs-box:hover {
    transform: translateY(-4px);
}

.company-name {
    padding-bottom: 10px;
    font-weight: 600;
}

.job-name {
    font-weight: 800;
    padding-bottom: 10px;
}

.logo-hiringmine {
    width: 45px;
    height: 35px;
    background-image: url("./Accets/hiringmine-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 15px;
    right: 20px;
}

.salary {
    color: #4d3bdb;
    font-weight: 600;
}

.people-view-job {
    font-weight: 600;
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.people-applied-to-job {
    font-weight: 600;
    width: 120px;
    padding: 8px 5px;
    margin-left: 175px;
    border-radius: 5px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.who-posted-when-posted-container {
    margin-top: 5px;
    display: flex;
    justify-content: space-between
}

.who-posted-when-posted-container p {
    font-size: 15px;
}

.posted-by {
    font-weight: 700;
}

.posted-by-name {
    color: #4d3bdb;
}

/* main section four starts */

.main-section-four {
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-section-four h2 {
    font-size: 45px;
}

.main-section-four h2>span {
    color: #4d3bdb;
}

.main-section-four>p {
    font-size: 19px;
    font-weight: 500;
}

.tips-quick-step {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.quick-step-boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    background: linear-gradient(180deg, #edebff, hsla(0, 0%, 100%, 0));
    box-shadow: 0 4px 40px #bdb2ff3d;
    border-radius: 6px;
    padding: 20px;
    width: 230px;
    height: 180px;
    transform: all 0.4s;
}

.quick-step-boxes:hover {
    box-shadow: 0 4px 40px #beb2ff75;
    transform: translateY(-5px)
}

.quick-step-boxes i {
    font-size: 22px;
    color: #4d3bdb;
}

.tip-box-heading {
    color: #4d3bdb;
    font-size: 18px;
    font-weight: 600;
}

.tip-guide {
    display: flex;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

/* main section five */

.main-section-five {
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-section-five h2 {
    font-size: 45px;
}

.main-section-five h2>span {
    color: #6851ff;
}

.main-section-five>p {
    font-size: 18px;
    text-align: center;
    font-size: 500;
    margin-bottom: 80px;
}

.hirinemine-banner {
    width: 100%;
    height: 300px;
    background-image: url("./Accets/hirinemine-banner.webp");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

/* main section six */

.main-section-six {
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.horizontal-line {
    background-color: #4d3bdb;
    margin-top: 115px;
    width: 3px;
    height: 150px;
    border-radius: 10px;
}

.main-section-six img {
    width: 450px;
}

.main-section-six p {
    font-size: 47px;
    font-weight: 600;
}

.main-section-six span {
    color: #6851ff;
}

/* footer */

footer {
    background: linear-gradient(180deg, #4d3bdb 0%, #9747ff 100%);
    width: 100%;
    padding: 80px 0px 50px;
}

.footer-first-sec {
    padding: 0px 80px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom:2px solid #e5e7eb;
}

.about-hirine-mine {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 10px;
    flex-direction: column;
}

.footer-logo img {
    width: 130px;
}

.footer-first-sec p {
    color: #e5e7eb;
    font-weight: 550;
}

.footer-first-sec h2 {
    color: #e5e7eb;
    font-size:18px;
    margin:20px 0px 10px;
    color:white;
}

.social-media-accounts{
    display:flex;
    gap:30px;
    font-size:28px;
    color:#e5e7eb;
}

.contect-us {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 10px;
}

.contect-us h2{
    font-size:16px;
    color:white;
}

.contect-us p{
    font-size:14px;
}
/* footer section two starts  */

.footer-second-sec{
    display:flex;
    padding:15px 0px;
    align-items:center;
    flex-direction: column;
    height:30px;
}

.privacy-term{
    display:flex;
    gap:10px;
    color:white;
}

.copy-right{
    color:white;
}

.copy-right a {
    color:white;
    text-decoration:none;
}

.copy-right a:hover{
    text-decoration: underline;
}

.message-box{
    position:fixed;
    bottom:15px;
    right:30px;
    height:60px;
    width:60px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color: #6851ff;
    border-radius:50%;
    font-size:22px;
    color:white;
}